{% extends "layout.html" %}
{% block body %}
<h2>Dashboard</h2>
{% if issues %}
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Raised By</th>
            <th>Raised On</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for issue in issues %}
        <tr>
            <td>{{ issue.description }}</td>
            <td>{{ issue.raised_forename +' '+ issue.raised_surname }}</td>
            <td>{{ issue.created }}</td>
            <td><a href="/issues/edit/{{ issue.issue_id }}">Edit</a></td>
            <td><a href="/issues/delete/{{ issue.issue_id }}">Delete</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% else %}
    <p>You haven't raised any issues. Maybe you should <a href="{{ url_for('raise_issue') }}">raise one</a></p>
{% endif %}
{% endblock %}
