{% extends "layout.html" %}
{% block body %}
<section class="content-header">
    <h1>
        Dashboard
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Issues</h3>
                </div>
                <div class="box-body">
                    {% if issues %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Raised By</th>
                                    <th>Raised On</th>
                                    <th>Status</th>
                                    <th colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for issue in issues %}
                                    {% if issue.status_name == 'Open' %}
                                        <tr style="color: red;">
                                    {% elif issue.status_name == 'In-Progress' %}
                                        <tr style="color: orange;">
                                    {% elif issue.status_name == 'Closed' %}
                                        <tr style="color: green;">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                        <td>{{ issue.description }}</td>
                                        <td>{{ issue.raised_forename +' '+ issue.raised_surname }}</td>
                                        <td>{{  issue.created }}</td>
                                        <td>{{ issue.status_name }}</td>
                                        {% if g.user['user_level'] == 1 %}
                                            <td>
                                                <a href="/issues/update/{{ issue.issue_id }}" title="Update Issue"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="/issues/details/{{ issue.issue_id }}" title="Details"><i class="fa fa-eye"></i></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You haven't raised any issues. Maybe you should <a href="{{ url_for('raise_issue') }}">raise one</a></p>
                    {% endif %}
                </div>
                <div class="modal fade" id="issueDetailsModal" tabindex="-1" role="dialog" aria-labelledby="issueDetailsModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="issueDetailsModalLabel">Issue Details</h4>
                            </div>
                            <div class="modal-body">
                                <<ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
