{% extends "layout.html" %}
{% block body %}
<h2>Dashboard</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div>
    This is the dashboard
</div>
<table>
    <caption>Issues</caption>
    <thead>
        <tr>
            <th>Description</th>
            <th>Raised By</th>
            <th>Raised On</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.description }}</td>
            <td>{{ issue.raised_by }}</td>
            <td>{{ issue.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
