<!doctype html>
<title>Issue Tracker</title>
<div class=page>
  <h1>Issue Tracker</h1>
  <div class=metanav>
    {% if not session.user_id %}
    <a href="{{ url_for('login') }}">Log In</a>
    <a href="{{ url_for('register') }}">Register</a>
    {% else %}
      {% if session.user_id == 1 %}
        <a href="{{ url_for('dashboard') }}">All Issues</a>
        <a href="{{ url_for('add_user') }}">Add User</a>
      {% endif %}
    <a href="{{ url_for('logout') }}">Log Out</a>
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
