{% extends "layout.html" %}
{% block body %}
<h2>Register</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('register') }}" method=post>
    <div>
        <div>
            <label>Forename:<input type="text" name="forename" value="{{ request.form['forename'] }}"></label>
        </div>
        <div>
            <label>Surname:<input type="text" name="surname" value="{{ request.form['surname'] }}"></label>
        </div>
        <div>
            <label>Email:<input type="text" name="email" value="{{ request.form['email'] }}"></label>
        </div>
        <div>
            <label>Password:<input type="password" name="password" value="{{ request.form['password'] }}"></label>
        </div>
        <div>
            <label>Confirm Password:<input type="password" name="confirm_password" value="{{ request.form['confirm_password'] }}"></label>
        </div>
        <div>
            <input type=submit value=Register>
        </div>
    </div>
</form>
{% endblock %}
