{% extends "logged_out_layout.html" %}
{% block body %}
<div class="register-box">
    <div class="register-logo">
        <a href="#"> <b>t</b>rckr
        </a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Fill in this form to create an account</p>
        {% if errors %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Error!</h4>
            {% for error in errors %}{{ error }}<br/>{% endfor %}
        </div>
        {% endif %}
        <form action="{{ url_for('register') }}" method=post>
            <div class="form-group has-feedback">
                <input type="text" name="forename" class="form-control" placeholder="Forename" value="{{ request.form['forename'] }}"/>
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" name="surname" class="form-control" placeholder="Surname" value="{{ request.form['surname'] }}"/>
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email Address" value="{{ request.form['email'] }}"/>
                <span class="fa fa-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password" value="{{ request.form['password'] }}"/>
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" value="{{ request.form['confirm_password'] }}"/>
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
            </div>
        </form>
        <br>
        <a href="{{ url_for('login') }}" class="text-center">Already have an account?</a>
    </div>
</div>
{% endblock %}
